.main__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}



#btnReset {
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 3rem;
    border: 0.2rem solid #5F0AFF;
    color: #5F0AFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.15s ease;
}


#btnFinish {
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 3rem;
    background: #5F0AFF;
    border: 0.2rem solid #5F0AFF;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.15s ease;
}



