#btnReset {
    display: inline-block;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    border: 0.2rem solid #5F0AFF;
    color: #5F0AFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.15s ease;
}


#btnFinish {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    background: #5F0AFF;
    border: 0.2rem solid #5F0AFF;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.15s ease;
}



