.postcard.is-top {
  justify-content: flex-start;
  margin-top: 2rem;
}

.postcard.is-center {
  justify-content: center;
}

.postcard.is-bottom {
  justify-content: flex-end;
  margin-bottom: 2rem;
}

