.postcard.is-top {
  justify-content: flex-end;
  margin-bottom: 2.2rem;
}

.postcard.is-center {
    justify-content: flex-end;
    margin-bottom: 1.2rem;
}

.postcard.is-bottom {
  justify-content: flex-end;
  margin-bottom: 0.1rem;
}

