.is-selected {
  background-color: #5F0AFF;
  border: 2px solid #5F0AFF; 
  color: white;
}

.pic__text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.pic__text.is-visible {
  opacity: 1;
  visibility: visible;
}