<section class="modal hidden" id="modal__success"   role="dialog" aria-modal="true">
  <div class="modal__stars"></div>
  <div class="modal__overlay" id="modal-overlay"></div>

  <div class="modal__content">
    <button class="modal__close" id="js-modal-close" type="button">×</button>

    <h2>¡Bien hecho! 🚀</h2>
    <p>Tu imagen se ha creado con éxito.</p>
    <p>¿Qué quieres hacer ahora?</p>

    <div class="modal__actions">
      <a href="#" id="modal__actions--goCard">Ver mi tarjeta</a>
    </div>
  </div>
</section>