@use 'core/reset';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';
@use 'layout/accordion';
@use 'layout/selectedInputForm';
@use 'layout/textPostcard';
@use 'layout/position';
@use 'layout/formButtons';

@use 'layout/finalCard-share';  